.ace_editor {
	/*postion: absolute !important;
	top: 60px;
	bottom: 0px;
	left: 0px;
	right: 0px;*/

	top: 0;
	height: 100%;
	margin: 0;
}

.editor-wrapper {
	position: absolute;
	top: 50px;
	bottom: 0;
}

#editor-pane-left {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 200px;
	background-color: #00F;
}

#editor-pane-right {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 206px;
}

#editor-pane-resizer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 200px;
	width: 6px;
	background-color: #0F0;
	cursor: col-resize;
}
